<div class="contents">
  <% @posts.each do |post| %>
    <div class= "content">
      <%= image_tag post.image.url, class: 'content-image' %>
      <div class="content-text">
        <div class="content-text__info">
          <p class="item"><%= post.item %></p><br>
          <p>拾得場所：<%= post.place %></p>
          <p>保管期限：<%= post.limitation %>迄</p>
        </div>
        <ul class="gnav">
          <li><a href="">Menu</a>
            <ul>
              <li>
                <%= link_to "詳細", "/posts/#{post.id}", method: :get %>
              </li>
              <% if user_signed_in? && current_user.admin? %>
                <li>
                  <%= link_to "編集", "/posts/#{post.id}/edit", method: :get %>
                </li>
                <li>
                  <%= link_to "削除", "/posts/#{post.id}", method: :delete %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="page">
    <%= paginate(@posts)%>
  </div>
</div>