<div class="contents">
  <div class="container">
    <%= form_with(model: @post, local: true, class: "post-form") do |form| %>
      <h3>
        投稿する
      </h3>
      <div class="post-item">
        <%= form.text_field :item, placeholder: "item", class: "post-field", id:"post-item__field" %>
        <%= form.label :image, class:"post-item__image" do %>
          <%= icon('fas', 'image', class:"post-item__image__icon") %>
          <%= form.file_field :image, class:"post-item__image__file"%>
        <% end %>
      </div>
      <%= form.text_field :place, placeholder: "place", class: "post-field" %>
      <%= form.text_field :limitation, placeholder: "storage limitation",class: "post-field" %>
      <%= form.submit "SEND", class:"post-btn" %>
    <% end %>
  </div>
</div>