<div class ="contents">
  <div class= "content">
    <%= image_tag @post.image.url, class: 'content-image' %>
    <div class="content-text">
      <div class="content-text__info">
        <p class="item"><%= @post.item %></p><br>
        <p>拾得場所：<%= @post.place %></p>
        <p>保管期限：<%= @post.limitation %>迄</p>
      </div>
      <ul class="gnav">
        <li><a href="">Menu</a>
          <ul>
            <li>
              <%= link_to "詳細", "/posts/#{@post.id}", method: :get %>
            </li>
            <% if user_signed_in? && current_user.admin? %>
              <li>
                <%= link_to "編集", "/posts/#{@post.id}/edit", method: :get %>
              </li>
              <li>
                <%= link_to "削除", "/posts/#{@post.id}", method: :delete %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="comments">
    <% if current_user %>
      <%= form_with(model: [@post, @comment], local:true, class: "comment-form") do |form| %>
        <%= form.text_area :text, placeholder: "コメント", rows: "5", class: "comment-text"%>
        <%= form.submit "SEND", class: "comment-btn"%>
      <% end %>
    <% else %>
      <p class="warning">***コメントの投稿には新規登録/ログインが必要です***<p>
    <% end %>
    <strong><h4>＜コメント一覧＞</h4></strong>
    <% if @comments %>
      <% @comments.each do |comment| %>
        <p class="comment-index">
          <strong><%= comment.user.name %>（<%= comment.user.room_num %>号室）：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>