<!DOCTYPE html>
<html>
  <head>
    <title>Lost And Found</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <div class="header-bar">
        <h1 class="header-bar__logo"><a href="/">Lost And Found</a></h1>
        <!--サインインしているかつ、管理者である-->
        <% if user_signed_in? &&  current_user.admin?%> 
          <div class="header-bar__buttons">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "button" %>
            <%= link_to  "投稿する", new_post_path, class: "button" %>
          </div>
        <!--サインインしている-->
        <% elsif  user_signed_in? %>
          <div class="header-bar__buttons">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "button" %>
          </div>
        <!--サインインしていない-->
        <% else %>
          <div class="header-bar__buttons">
            <%= link_to "ログイン", new_user_session_path, class: "button" %>
            <%= link_to "新規登録", new_user_registration_path, class: "button" %>
          </div>
        <% end %>
      </div>
    </header>

    <%= yield %>

    <footer>
      <p>
        Share Reside Series
      </p>
    </footer>
  </body>
</html>